body {
    background-color: #ffffff;
    color: #212121;
    font-family: Roboto, sans-serif;
}
ul {
    list-style: none;}

.logo {
    color: #2196F3;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-style: Bold; 
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 3%;
    text-decoration: none;
}
.logo-header {
    color: #000000;
}
.logo-footer {
    color: #ffffff;
}
.site-nav .link {
    color: #212121;
    font-weight:500 ;
    font-size: 14px ;
    line-height: 1.14;
    letter-spacing: 2%;
    text-decoration: none;
    
}

.site-nav .link:focus,
.site-nav .link:hover {
    color: #2196F3;    
}
.site-nav .link.current {
    color: #2196F3;
}


.tel,
.mail
 {
   color:  #757575;
  
    font-style: medium;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2%;
    text-decoration: none;
}
.address {
    color: #ffffff;
 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
    text-decoration: none;}

.mail:focus,
.mail:hover {
    color: #2196F3;}
.tel:focus,
.tel:hover {
    color: #2196F3;
}
   



.hero {
 
    background-color: #2F303A;
}
.hero-title {
    font-weight: 900;
    color: #ffffff;
    font-style: Black;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 6%
}
.button {
    color: #ffffff;
    background-color: #2196F3;
    font-family: inherit;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 6%;
    text-align: center;
    border: none;
        cursor: pointer;
}
.work, .team {
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 3%
}
.solution-list {
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
}
.name {
    font-weight: 500;  
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 3%;
        text-align: center;
}
.profession {
    font-size: 16px;
        line-height: 1.18;
        letter-spacing: 3%;
        text-align: center;
    

}
.solutions {
    color: #757575;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 3%;
}
.team-section{
    background-color: #F5F4FA;
}
.team-card{
    background-color: #ffffff;
}

.button-secondary {   
    color: #212121;
        background-color: #F5F4FA ;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 3%;
        text-align: center;
        border: none;
        cursor: pointer;
        
}
.button-secondary:focus,
.button-secondary:hover{
    color: #ffffff;
    background-color: #2196F3;
}
footer {
    background-color: #2F303A;
}

.portfolio-list-name {
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%
}
.portfolio-tipe {
    color: #757575;
    font-weight: 400;
   
        font-size: 16px;
        line-height: 1,87;
        letter-spacing: 3%
}
