body {

    font-family: Roboto, sans-serif;
}

:root {
    --main-title-color: #ffffff;
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3 ;
    

}
ul {
    list-style: none;}

.logo {
    color: #2196F3;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-header {
    color: #000000;
}
.logo-footer {
    color: #ffffff;
}
.site-nav .link {
    color: var(--main-text-color);
    font-weight:500 ;
    font-size: 14px ;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
}

.site-nav .link:focus,
.site-nav .link:hover {
    color: var(--accent-color);    
}
.site-nav .link.current {
    color: var(--accent-color);
}


.tel-header,
.mail-header
 {
color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.tel-footer,
.mail-footer {
     color: rgba(255,255,255, 0.6);
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     text-decoration: none;
 }

.address {
    color: #ffffff;
 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-decoration: none;}

.mail-footer:focus,
.mail-footer:hover {
    color: var(--accent-color)}
.tel-footer:focus,
.tel-footer:hover {
    color: var(--accent-color);
}
   .mail-header:focus,
   .mail-header:hover {
       color: var(--accent-color)
   }

   .tel-header:focus,
   .tel-header:hover {
       color: var(--accent-color);
   }



.hero {
 
    background-color: #2F303A;
}
.hero-title {
    font-weight: 900;
    color: var(--main-title-color);
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button {
    color: var(--main-title-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    border: none;
        cursor: pointer;
}
.work, .team {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.solution-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.name {
    font-weight: 500;  
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--main-text-color);
}
.profession {
    font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--secondary-text-color);
    

}
.solutions {
    color: var(--secondary-text-color);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}
.team-section{
    background-color: #F5F4FA;
}
.team-card{
    background-color: var(--main-title-color);
}

.button-secondary {   
    color: var(--main-text-color);
        background-color: #F5F4FA ;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
        border: none;
        cursor: pointer;
        
}
.button-secondary:focus,
.button-secondary:hover{
    color: #ffffff;
    background-color: var(--accent-color);
}
footer {
    background-color: #2F303A;
}

.portfolio-list-name {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-tipe {
    color: var(--secondary-text-color);
    font-weight: 400;
   
        font-size: 16px;
        line-height: 1,87;
        letter-spacing: 0.03em;
}
